// body {
//   font-family: sans-serif;

//   a {
//     text-decoration: none;
//   }

//   label {
//     display: block;
//   }

//   nav a {
//     display: inline-block;
//     margin: 1em;
//   }

//   form div {
//     margin: 1em;
//     display: inline-block;
//   }
// }

body {
  height: 100%;
  margin: 0;
}
#app {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
