@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

.my-container {
  min-width: 401px;
  padding: 0 17px 17px 17px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab' !important;
  margin: 0;
}

#logo {
  font-family: 'Oleo Script Swash Caps' !important;
  color: #77a95f;
  font-size: 60px;
  margin: 0;
  font-weight: 300;
  padding-bottom: 0;
}

.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2em;
}

#button-footer {
  display: flex;
  justify-content: center;
}

.my-button-wrapper .my-button {
  background-color: #b28b68;
  border: none;
  border-radius: 5px;
  color: white;
}

#loader {
  height: 200px;
  margin: 0.857143em 0.857143em;
}

#submit-loader {
  height: 6em;
}

.myheader {
  margin: 0.857143em 0.857143em;
}

.result-message {
  display: block;
}
